<!-- <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"> -->
<!-- Ruteo entre hermanos -->
<!-- <a routerLink="/dashboard-admin/pagina-inicio/agregar-prestadores-turisticos">Agregar</a> -->
<!-- </button> -->
<!-- <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"> -->
<!-- Ruteo entre hermanos -->
<!-- <a routerLink="/dashboard-admin/pagina-inicio/editar-prestadores-turisticos">Editar</a> -->
<!-- </button> -->

<!-- Contenedor -->
<div (keydown)="onKeyDown($event)" class="container mx-auto" tabindex="0">
  <div class="bg-white rounded-lg shadow-lg mt-4">
    <div class="p-4">
      <!-- CONTENIDO -->
      <!-- Nuestro título -->
      <h3 class="text-3xl text-center mb-4">Listado Prestadores Turisticos</h3>
      <!-- Botón Para llevarnos al componente de Agregar Prestador -->
      <div class="flex justify-end gap-4">

                <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" (click)="openmodalwarning('prestadores')">ELIMINAR PST</button>
                <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" (click)="openmodalwarning('municipios')">ELIMINAR MUNI</button>
                <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" (click)="openmodalwarning('atractivos')">ELIMINAR ATRAC</button>
                <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" (click)="openmodalwarning('rutas')">ELIMINAR RUTAS</button>


        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" (click)="openmodalpst()" >ImportarPST</button>
        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" (click)="openmodalmuni()" >ImportarMuni</button>
        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" (click)="openmodalatrac()" >ImportarAtrac</button>
        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" (click)="openmodalrutas()" >ImportarRutas</button>
        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" (click)="openmodaltodo()" >ImportarTodo</button>

        <!---->
        <div class="" *ngIf="modalsuich === true" >

          <app-import></app-import>

        </div>

        <div class="" *ngIf="modalsuichatrac === true" >

          <app-import-atractivo></app-import-atractivo>

        </div>
        <div class="" *ngIf="modalsuichmuni === true" >

          <app-import-municipio></app-import-municipio>

        </div>
        <div class="" *ngIf="modalsuichrutas === true" >

          <app-import-rutas></app-import-rutas>

        </div>
        <div class="" *ngIf="modalsuichtodo === true" >

          <app-import-todo></app-import-todo>

        </div>
        <div class="" *ngIf="warning === true" >

          <app-warning></app-warning>

        </div>


       <!---->
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" routerLink="/dashboard-admin/pagina-inicio/agregar-prestadores-turisticos">Agregar</button>
      </div>

      <!--Nuestra Tabla-->
      <table class="min-w-full mt-4">
        <!-- Encabezado de la Tabla -->
        <thead>
          <tr>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Nombre
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Servicios
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Ciudad
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Celular
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Acciones
            </th>
          </tr>
        </thead>
        <!-- Cuerpo de la Tabla -->
        <tbody class="bg-white divide-y divide-gray-200">
          <!-- Elementos Renderizados desde la BD -->
          <tr *ngFor="let prestador of prestadores" class="bg-gray-100">
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
              {{ prestador.name }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
              {{ prestador.servicios }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
              {{ prestador.municipio }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
              {{ prestador.celular1 }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
              <!-- Para los íconos de Acciones - FontAwesome -->
              <i (click)="obtenerPrestador(prestador)" class="fa-solid fa-pen-to-square fa-lg text-blue-500 mr-10 cursor-pointer"></i>
              <!-- Pasamos por parámetro el objeto listado para manipularlo, en este caso borrarlo -->
              <i (click)="eliminarPrestador(prestador)" class="fa-solid fa-trash-can fa-lg text-red-500 cursor-pointer"></i>
            </td>
          </tr>

        </tbody>

      </table> <!-- Fin tabla -->

    </div>
  </div>
</div>
